:root {
  --amount-text: #9cebaf;
  --app-name-text: rgb(5, 104, 35);
  --bg: rgb(87, 84, 84);
  --button-bg-danger: #E10505;
  --button-bg: rgb(43, 138, 71);
  --button-border-color: #ddd;
  --button-font-size: 18px;
  --button-height: 48px;
  --button-radius: 8px;
  --button-text: white;
  --date-text: #999999;
  --dialog-header-text: white;
  --emoji-nav-text-selected: #333;
  --emoji-nav-text: #999;
  --error-color: #E10505;
  --float-button-bg: var(--button-bg);
  --float-button-text: white;
  --input-border-color: #595664;
  --input-min-height: 48px;
  --input-radius: var(--button-radius);
  --input-shadow: rgba(0,0,0,0.25);
  --list-amount-text: var(--amount-text);
  --list-tag-text: #333;
  --list-time-text: var(--date-text);
  --main: #343435;
  --navbar-bg-end: var(--welcome-bg-end);
  --navbar-bg-start: var(--welcome-bg-start);
  --navbar-text: white;
  --number-button-bg-important: rgb(55, 58, 82);
  --number-button-bg: white;
  --number-button-text-important: white;
  --overlay-bg: rgb(43, 41, 41);
  --overlay-mask-bg: rgba(0, 0, 0, 0.5);
  --overlay-user-bg: #2e2d31;
  --overlay-user-text: rgb(43, 138, 71);
  --tabs-indicator-bg: rgba(41, 37, 37, 0.5);
  --tag-bg: #EFEFEF;
  --text: #f5f1f1;
  --text-muted: #666;
  --top-safe-area-height: 24px;
  --total-bg: #252A43;
  --total-expenses: #53A867;
  --total-income: #FE7275;
  --total-text: white;
  --transition-duration: 0.5s;
  --van-overlay-z-index: 64;
  --welcome-bg-end: #2d3d30;
  --welcome-bg-start: #0c0c0c;
  --welcome-card-bg: white;
  --welcome-nav-gap: 8px;
  --welcome-nav-height: 64px;
  --welcome-text: white;
  --z-index-bottom-nav: 8;
  --z-index-navbar: 32;
  --z-index-overlay: 16;
  --bar-bg: #CCCCCC;
}